<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on("updateProducts", (products) => {
        const productList = document.getElementById("product-list");
        productList.innerHTML = "";
        products.forEach((product) => {
          const item = document.createElement("li");
          item.textContent = `${product.name} - $${product.price}`;
          productList.appendChild(item);
        });
      });
    </script>
  </head>
  <body>
    <h1>Productos</h1>
    <ul id="product-list">
      {{#each products}}
      <li>{{this.name}} - ${{this.price}}</li>
      {{/each}}
    </ul>
  </body>
</html>
